body {
    background: #242424;
    color: rgb(232, 230, 227);
    font-family: Consolas,serif;
}

main {
    width: 75%;
    margin: auto;
    margin-top: 64px;
}

h1, p {
    padding: 8px;
    margin: 0px;
}

.gray {
    font-style: italic;
    color: #888;
}

a {
    color: #579e40;
}

.progress-container {
    width: 100%;
    background-color: #e0e0df;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    width: 65.68%; /* (6568 / 10000) * 100 */
    background-color: #579e40;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px 0 0 25px;
}

.container {
    display: flex;
    gap: 8px;
}

.text-content p {
    margin: 0;
}

.image {
    height: 172px;
}

.poem {
    font-family: 'Georgia', serif;
    padding: 0;
    margin: 0;
    font-style: italic;
    color: #888;
}

.stanza {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}
